body{
    background-color: black;
}

.post-card{
    color:white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

h1{
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
p{
    margin: 0;
    text-align: center;
}
.post-image{
    border: 5px solid white;
    width: 100%;
}
